name: CI


on:
  push:
   branches: [master, dev]


jobs:
  windows-build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, DebugDLL, Release, ReleaseDLL, ProductionRelease, ProductionReleaseDLL]
    
    steps:
    - uses: actions/checkout@v4
  
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@main

    - name: Build
      run: msbuild /p:Configuration=${{ matrix.configuration }} /p:Platform=x64 JSON.vcxproj
      
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}_Windows
        path: bin\${{ matrix.configuration }}-x64\JSON

  linux-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        configuration: [Debug, DebugDLL, Release, ReleaseDLL, ProductionRelease, ProductionReleaseDLL]

    steps:
    - uses: actions/checkout@v4
  
    - name: Setup build type
      shell: pwsh
      run: echo "BUILD_TYPE=$(if ("${{ matrix.configuration }}".Contains("Release")) { echo "Release" } else { echo "Debug" })" >> $Env:GITHUB_ENV
  
    - name: Get vs_to_cmake
      uses: actions/checkout@v4
      with:
        repository: LazyPanda07/vs_to_cmake
        ref: dev
        path: vs_to_cmake

    - name: Install vs_to_cmake
      run: pip install vs_to_cmake/

    - name: Create CMakeLists.txt
      run: vs_to_cmake -f JSON.vcxproj -d __LINUX__

    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DVS_BUILD_CONFIGURATION=${{ matrix.configuration }} -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} ..
          make install -j $(nproc)

    - name: Copy headers
      if: ${{ startsWith(matrix.configuration, 'ProductionRelease') }}
      run: |
          mv src/ bin/${{ matrix.configuration }}-x64/JSON
          cd bin/${{ matrix.configuration }}-x64/JSON
          mkdir include
          mv src/* include
          rm -rf src
          cd include
          rm -f *.cpp
          cd Exceptions
          rm -f *.cpp

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}_Linux
        path: bin/${{ matrix.configuration }}-x64/JSON

  windows-test:
    runs-on: windows-latest
    needs: [windows-build]
    strategy:
      matrix:
        configuration: [Debug, DebugDLL, Release, ReleaseDLL, ProductionRelease, ProductionReleaseDLL]

    steps:
    - uses: actions/checkout@v4
  
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@main

    - name: Setup build type
      shell: pwsh
      run: echo "BUILD_TYPE=$(if ("${{ matrix.configuration }}".Contains("Release")) { echo "Release" } else { echo "Debug" })" >> $Env:GITHUB_ENV

    - name: Get Google Test
      uses: actions/checkout@v4
      with:
        repository: google/googletest
        ref: v1.14.x
        path: gtest

    - name: Build Google Test
      run: |
          cd gtest
          mkdir build
          cd build
          cmake -Dgtest_force_shared_crt=ON -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/Tests/gtest  ..
          msbuild /p:Configuration=${{ env.BUILD_TYPE }} /p:Platform=x64 INSTALL.vcxproj

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: ${{ matrix.configuration }}_Windows
        path: JSON

    - name: Build tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          mkdir build
          cd build
          cmake ..
          msbuild /p:Configuration=${{ env.BUILD_TYPE }} /p:Platform=x64 INSTALL.vcxproj

    - name: Tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          .\Tests.exe

  linux-tests:
    runs-on: ubuntu-latest
    needs: [linux-build]
    strategy:
      matrix:
        configuration: [Debug, Release, ProductionRelease]

    steps:
    - uses: actions/checkout@v4
  
    - name: Setup build type
      shell: pwsh
      run: echo "BUILD_TYPE=$(if ("${{ matrix.configuration }}".Contains("Release")) { echo "Release" } else { echo "Debug" })" >> $Env:GITHUB_ENV

    - name: Get Google Test
      uses: actions/checkout@v4
      with:
        repository: google/googletest
        ref: v1.14.x
        path: gtest

    - name: Build Google Test
      run: |
          cd gtest
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/Tests/gtest ..
          make install -j $(nproc)

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: ${{ matrix.configuration }}_Linux
        path: JSON
        
    - name: Build tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          mkdir build
          cd build
          cmake ..
          make install -j $(nproc)
          
    - name: Tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          ./Tests
          